
/* --------------------------------------------------------------
>>> Copy-Project Page

This file contains styling for elemenets that appear on copy project pages.
---------------------------------------------------------------- */

#project {
    margin: 0 20px;
}

.items {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.bolded-text {
    font-weight: bold;
    font-size: 1.2em;
}

p:nth-of-type(7) {
    margin-bottom: 60px;
    border-bottom: 2px dashed #777777;
    padding-bottom: 30px;
}

figure {
    border-bottom: 2px dashed rgba(119, 119, 119, 0.15);
}

figure:last-of-type {
    border-bottom: none;
}

figcaption p {
    margin-top: 25px;
}

.copy-project-img {
    max-width: 80%;
    display: block;
    margin: 50px auto;
}


/* --------------------------------------------------------------
>>> Converse
---------------------------------------------------------------- */

.converse {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

@media all and (min-width: 675px) {

    p:nth-of-type(7) {
        margin-bottom: 60px;
        border-bottom: none;
    }

    .converse {
        margin-bottom: 120px;
    }

    .copy-project-img {
        max-width: 700px;
    }
}
