
/* --------------------------------------------------------------
>>> Copy-Project Page

This file contains styling for elemenets that appear on copy project pages.
---------------------------------------------------------------- */

#project {
    margin: 0 20px;
}

.bolded-text {
    font-weight: bold;
    font-size: 1.2em;
}

p:nth-of-type(5) {
    margin-bottom: 60px;
    border-bottom: 2px solid #777777;
    padding-bottom: 30px;
}

figcaption p {
    margin-top: 25px;
}

/* --------------------------------------------------------------
>>> Converse
---------------------------------------------------------------- */

.converse {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.converse-img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

@media all and (min-width: 675px) {

    p:nth-of-type(5) {
        margin-bottom: 60px;
        border-bottom: none;
    }

    .converse {
        margin-bottom: 120px;
    }

    .converse-img {
        max-width: 700px;
    }
}
