
/* --------------------------------------------------------------
>>> Home Page

This file contains styling for elemenets that appear on the homepage.
---------------------------------------------------------------- */

#home {
    padding-top: 10px;
    padding-bottom: 10px;
}

#home {
    text-align: center;
    margin: 0 33px;
}

.home-logo {
    max-width: 300px;
}

.about {
    font-size: 1.25em;
    text-align: justify;
    line-height: 1.2em;
    clear: both;
}

#homepage {
    display: inline-block;
}

#homepage a {
    text-decoration: none;
}

/* ----------------------------------------- Homepage images --- */
.work-icon {
    width: 300px;
    float: left;
    margin-bottom: 45px;
}

.work-icon img {
    max-width: 250px;
    display: inline-block;
    margin: 0 auto;
}

.work-icon p {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}
