
/* --------------------------------------------------------------
>>> Main CSS

This is the main CSS for the site and contains styling for elemenets that appear on every page.
---------------------------------------------------------------- */

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: rgb(247, 247, 247);
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figcaption {
    color: #777777;
}

a {
    text-decoration: none;
    cursor: crosshair;
    color: #777777;
}

main {
    clear: both;
}

ul {
    list-style: none;
}

.breaker {
    clear: both;
}

/* --------------------------------------------------------------
>>> Container
---------------------------------------------------------------- */

#container {
    max-width: 966px;
    margin: 0 auto;
}

/* --------------------------------------------------------------
>>> Header
---------------------------------------------------------------- */


header {
    padding: 20px;
    margin-bottom: 20px;

}

.head { /* header image of yours truly */
    position: relative;
    top: 2px;
    width: 145px;
    padding: 4px;
    border: 6px solid rgb(255, 182, 54);
    border-radius: 200px;
}

@media all and (max-width: 674px) {

    nav,
    nav ul,
    nav li,
    .viewable-on-fullscreen /* class for "head" image in mobile */ {
        display: none;
    }
}


@media all and (min-width: 675px) {

    nav {
        float: right;
    }

    nav ul {
        margin-top: 60px;
        vertical-align: middle;
        list-style: none;
    }

    nav li {
        display: inline;
    }

    nav a {
        color: #777777;
        font-size: 2.6em;
        font-weight: bold;
        text-decoration: none;
        margin-right: 30px;
        text-align: right;
        padding: 4px 0;
    }

    nav a:hover {
        border-bottom: 6px solid rgb(255, 182, 54);
    }

    .slicknav_menu {
        display: none;
    }

    .viewable-on-mobile {
        display: none;
    }
}

/* ----------------------------------------- Responsive Menu --- */
.slicknav_menu {
    background: none;
}

.slicknav_nav a {
    padding: 5px 10px;
    margin: 8px 8px;
    text-decoration: none;
    color: #777777;
    font-size: 2.6em;
    text-align: center;
    font-weight: bold;
}

.slicknav_nav a:hover {
    background: none;
    color: #777777;
}

.slicknav_btn {
    background: none;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #777777;
    display: block;
    width: 1.5em;
    height: 0.25em;
    box-shadow: none;
    border-radius: 0;
}

.responsive-logo {
    float: left;
    width: 125px;
    padding: 0 20px;
}

/* --------------------------------------------------------------
>>> Footer
---------------------------------------------------------------- */

@media all and (max-width: 489px) {

    #footer-desktop {
        display: none;
    }
}

@media all and (min-width: 490px) {

    #footer-mobile {
        display: none;
    }
}

footer {
    clear: both;
    margin-top: 60px;
    text-align: center;
}

/* footer img {
    display: block;
    margin: 0 auto;
} */

footer ul {
    list-style: none;
    width: 330px;
    margin: 0 auto;
    padding-left: 0;
}

footer li {
    display: inline-block;
    margin: 0 4px;
}

footer ul img {
    width: 55px;
    border-radius: 200px;
    padding: 8px;
}

footer ul img:hover {
    padding: 3px;
    border: 5px solid rgb(255, 182, 54);
}

#footer-mobile ul {
    list-style: none;
    text-align: center;
}

#footer-mobile li a {
    padding: 5px 10px;
    margin: 8px 8px;
    text-decoration: none;
    color: #777777;
    font-size: 1.6em;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

/* --------------------------------------------------------------
>>> Subfooter
---------------------------------------------------------------- */

#subfooter {
    margin-top: 35px;
    text-align: center;
}

#subfooter p {
    margin-top: 0.4em;
}
