html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: rgb(247, 247, 247);
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    color: #777777;
}

a {
    cursor: crosshair;
}

main {
    clear: both;
}

.breaker {
    clear: both;
}

/* --------------------------------------------------------------
>>> Container
---------------------------------------------------------------- */

#container {
    max-width: 966px;
    margin: 0 auto;
}

#work,
#project,
#cv,
#contact {
    padding-top: 10px;
    padding-bottom: 10px;
}

#cv,
#contact {
    padding: 0 20px;
}

/* --------------------------------------------------------------
>>> Header
---------------------------------------------------------------- */


header {
    padding: 20px;
    margin-bottom: 20px;

}

.head { /* header image of yours truly */
    position: relative;
    top: 2px;
    width: 145px;
    padding: 4px;
    border: 6px solid rgb(255, 182, 54);
    border-radius: 200px;
}

@media all and (max-width: 674px) {

    nav,
    nav ul,
    nav li,
    .mobile /* class for "head" image in mobile */ {
        display: none;
    }
}


@media all and (min-width: 675px) {

    nav {
        float: right;
    }

    nav ul {
        margin-top: 60px;
        vertical-align: middle;
        list-style: none;
    }

    nav li {
        display: inline;
    }

    nav a {
        color: #777777;
        font-size: 2.6em;
        font-weight: bold;
        text-decoration: none;
        margin-right: 30px;
        text-align: right;
        padding: 4px 0;
    }

    nav a:hover {
        border-bottom: 6px solid rgb(255, 182, 54);
    }

    .slicknav_menu {
        display: none;
    }

    .full {
        display: none;
    }
}

/* ----------------------------------------- Responsive Menu --- */
.slicknav_menu {
    background: none;
}

.slicknav_nav a {
    padding: 5px 10px;
    margin: 8px 8px;
    text-decoration: none;
    color: #777777;
    font-size: 2.6em;
    text-align: center;
    font-weight: bold;
}

.slicknav_nav a:hover {
    background: none;
    color: #777777;
}

.slicknav_btn {
    background: none;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #777777;
    display: block;
    width: 1.5em;
    height: 0.25em;
    box-shadow: none;
    border-radius: 0;
}

.responsive-logo {
    float: left;
    width: 125px;
    padding: 0 20px;
}

/* --------------------------------------------------------------
>>> Footer
---------------------------------------------------------------- */

@media all and (max-width: 489px) {

    #footer-desktop {
        display: none;
    }
}

@media all and (min-width: 490px) {

    #footer-mobile {
        display: none;
    }
}

footer {
    clear: both;
    margin-top: 60px;
    text-align: center;
}

/* footer img {
    display: block;
    margin: 0 auto;
} */

footer ul {
    list-style: none;
    width: 330px;
    margin: 0 auto;
    padding-left: 0;
}

footer li {
    display: inline-block;
    margin: 0 4px;
}

footer ul img {
    width: 55px;
    border-radius: 200px;
    padding: 8px;
}

footer ul img:hover {
    padding: 3px;
    border: 5px solid rgb(255, 182, 54);
}

#footer-mobile ul {
    list-style: none;
    text-align: center;
}

#footer-mobile li a {
    padding: 5px 10px;
    margin: 8px 8px;
    text-decoration: none;
    color: #777777;
    font-size: 1.6em;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

/* --------------------------------------------------------------
>>> Subfooter
---------------------------------------------------------------- */

#subfooter {
    margin-top: 35px;
    text-align: center;
}

#subfooter p {
    margin-top: 0.4em;
}

/* --------------------------------------------------------------
>>> Home/Work Page
---------------------------------------------------------------- */

.about {
    text-align: justify;
}

#work {
    text-align: center;
    margin-bottom: 60px;
}

#work p {
    padding: 0 45px;
}

#work h1 {
    font-size: 2.6em;
    margin: 10px;
}

#work h2 {
    font-size: 1.2em;
    display: inline-block;
    padding: 2px 0;
    /* border-bottom: 4px solid rgba(197, 197, 197, 0.5); */
    margin-top: 0;
    margin-bottom: 10px;
}

@media all and (min-width: 400px) {
    #work h2 {
        font-size: 1.3em;
    }

}

@media all and (min-width: 530px) {
    #work h2 {
        font-size: 1.4em;
    }
}

@media all and (max-width: 674px) {
    .home-logo {
        display: none;
    }
}

@media all and (min-width: 675px) {
    .home-logo {
        display: block;
        margin: 0 auto;
        width: 200px;
        margin-bottom: 10px;
    }
}

p.about.mobile {
    margin-bottom: 45px;
}

/* --------------------------------------------------------------
>>> Work Grid
---------------------------------------------------------------- */

ul#grid {
    list-style: none;
    padding-left: 0;
}

#grid li {
    display: inline-block;
    margin: 0 10px 25px;
    padding: 12px;
}

#grid li:hover {
    padding: 6px;
    border: 6px solid rgb(255, 182, 54);
}

#grid img {
    width: 200px;
    border: 1px solid rgba(197, 197, 197, 0.5);
}

/* --------------------------------------------------------------
>>> Project Page
---------------------------------------------------------------- */

#project {
    margin-bottom: 60px;
    padding: 0 20px;
}

#project h1 {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#project h2 {
    margin-bottom: 5px;
}

#project img {
    border: 1px solid rgba(197, 197, 197, 0.5);
}

#project img,
.project-content {
    float: left;
}

.project-content {
    max-width: 545px;
}

@media all and (max-width: 650px) {
    #project img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}

@media all and (min-width: 651px) {
    #project img {
        width: 350px;
        margin-right: 25px;
    }
}

@media all and (min-width: 1000px) {
    #project {
        margin-bottom: 100px;
    }

    .project-content p {
        line-height: 1.2em;
        margin-top: 5px;
    }

}

ul#tech {
    height: 64px;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 15px;
}

#tech li {
    display: inline-block;
}

#tech li img {
    width: 45px;
    height: 100%;
    margin: 15px 15px 0 0;
    border: none;
}

#project a {
    text-decoration: none;
    color: #777777;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 4px 0;
}

#project a:hover {
    border-bottom: 6px solid rgb(255, 182, 54);
}

.project-content {
    float: left;
}

/* --------------------------------------------------------------
>>> CV Page
---------------------------------------------------------------- */

#cv {
    margin-bottom: 35px;
}

#cv article {
    display: block;
    margin-bottom: 40px;
}

#cv h2 {
    display: inline-block;
    padding: 2px 0;
    border-bottom: 4px solid rgba(197, 197, 197, 0.5);
    margin-bottom: 30px;
}

#cv section {
    margin-bottom: 40px;
}

#cv p {
    line-height: 1.25em;
}

#cv a {
    text-decoration: none;
    font-size: 0.9em;
    cursor: pointer;
}

#cv a:hover {
    text-decoration: underline;
    color: rgb(255, 182, 54);
}

.cv-content,
.co,
.skills {
    float: left;
}

.cv-content h3,
.cv-content p {
    margin: 0.5em 0.5em 0.5em 0;
}


.co {
    width: 90px;
    margin-right: 25px;
}

.job-description {
    margin-top: 20px;
}

.skills {
    height: 65px;
    margin: 15px 15px 0 0;
}

@media all and (max-width: 500px) {

    .cv-content p {
        font-size: 0.92em;
    }

    .job-description {
        display: none;
    }

}

@media all and (min-width: 501px) {

    #cv {
        padding: 0 70px;
    }

    #cv section {
        margin-bottom: 50px;
    }

    .cv-content,
    .co,
    .skills {
        float: left;
    }

    .co {
        width: 90px;
        margin-right: 25px;
    }

}

ul#misc {
    list-style: none;
}

ul#misc li {
    position: relative;
    margin-bottom: 12px;
    letter-spacing: 0.1em;
}

ul#misc li:first-of-type {
    margin-top: 25px;
}

ul#misc li::before {
    content: url('http://www.julioaenlle.com/img/list-style.png');
    padding: 0 10px 0 0;
    position: absolute;
    top: -4px;
    left: -35px;
}

/* --------------------------------------------------------------
>>> Contact Page
---------------------------------------------------------------- */

#contact {
    margin-bottom: 50px;
}

/* #contact h1 {
    display: inline-block;
    padding: 4px;
    border-bottom: 6px solid rgb(255, 182, 54);
} */

#contact p,
#contact a {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}

#contact a {
    color: #777777;
}

@media all and (max-width: 400px) {
    .email-desktop {
        display: none;
    }
}

@media all and (min-width: 401px) {
    .email-responsive {
        display: none;
    }
}

.relocate {
    font-size: 0.9em !important;
    font-weight: normal !important;
}
